[submodule ".config/zsh/ohmyzsh"]
	path = .config/zsh/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/custom/zsh-autosuggestions"]
	path = .config/zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
